
.container {
    font-family: 'Roboto', sans-serif;
}

.form-control {
    box-shadow: none;
    border: 4px solid #ccc;
}


  .input {
    align-items: center;
    margin-bottom: 30px;
  }

  .input p {
    margin: 0;
  }

  input[type="number"] {
    width: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    font-size: 13px;
  }

  .text-center {
    text-align: center;
  }

  strong {
    color: #ec101f;
    font-size: 30px;
  }
