
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f8;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: yellow;
    background-image: url(./web.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-wrapper {
    max-width: 600px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #030000;
    margin-bottom: 30px;
}

.navigation-buttons button {
    background-color: #ee1d06;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
    background-color: #f9742d;
}
