
.btn-large{
    width: 40%;
    margin: 50px;
}
.text-center {
    text-align: center;
}
p{
  font-size: 40px;
  text-align: left;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: linear-gradient(135deg, #2c8253, #49a09d);
    color: #ffffff;

}

h1 {
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.back-button {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.back-button:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.back-button:active {
    transform: scale(0.95);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f6fa;
    color: #4b4b4b;
    line-height: 1.5;
}


.form-check {
    margin: 40px 0;
    padding: 25px 35px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    transition: all 0.4s ease-in-out;
}

.form-check-input {
    margin-right: 10px;
    cursor: pointer;
    top: -2px;
    transition: transform 0.3s;
}

.form-check-input:checked {
    transform: scale(1.2);
}

.form-check-label {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.form-check-label:hover {
    color: #777;
}


.text-center {
    margin-top: 50px;
    padding: 25px;
    background-color: #db7134;
    border-radius: 10px;
    color: white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
}

.text-center:hover {
    background-color: #2980b9;
}

.text-center p {
    font-size: 22px;
    margin-bottom: 0;
}

.text-center strong {
    font-size: 26px;
    letter-spacing: 1.5px;
}


*, *::before, *::after {
    transition: all 0.6s ease-in-out;
}

